<div class="jumbotron">
  <h1>Social Time Bomb</h1>
  <p>
    Social Time Bomb is a solution for automated social media posting. Create, organize, and post to your hearts content.
  </p>
  <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
</div>
